{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>登陆</h1>
  {% if form.errors %}
    <p>
      Your username and password didn't match.
      Please try again.
    </p>
  {% else %}
    <p>没有账号? <a href="{% url "account:register" %}">点击这里注册</a></p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>
    <p><a style="margin-left:10px;float:left" href="{% url "account:password_reset" %}">忘记密码?</a></p>
  </div>
{% endblock %}