{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>搜索结果:</h1>
</div>
  <div id="main" class="product-list">

    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.image }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
        {{ product.restaurant.name }} <br>
        {{ product.price }}元
      </div>
    {% endfor %}
      <div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?search_name={{ search_name }}&page=1">&laquo;第一页</a>
            <a href="?search_name={{ search_name }}&page={{ products.previous_page_number }}">上一页</a>
        {% endif %}

        <span class="current">
              {{ products.number }}/{{ products.paginator.num_pages }}.
        </span>

        {% if products.has_next %}
            <a href="?search_name={{ search_name }}&page={{ products.next_page_number }}">下一页</a>
            <a href="?search_name={{ search_name }}&page={{ products.paginator.num_pages }}">最后一页 &raquo;</a>
        {% endif %}
    </span>
  </div>
  </div>
{% endblock %}
