{% extends "base.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}
  <h1>结算中心</h1>

  <div class="order-info">
    <h3>您的订单</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>CN¥ {{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    <p>合计: CN¥ {{ cart.get_total_price }}</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="提交订单"></p>
    {% csrf_token %}
  </form>
{% endblock %}